{% extends 'base.html' %}

{% block title %}tiketo - home{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-4">

      {% if user.is_authenticated %}
        <h1 class="text-center">
          Hello {{ user.username }}!
        </h1>
        <ul>
          <li>
            <a class=""  href="{% url 'tickets_list' %}">ticket list</a>
          </li>
        </ul>
        <div class="text-center">
          <a class=""  href="{% url 'logout' %}">log out</a>
        </div>
      {% else %}
        <h1>You are not logged in</h1>
        <a class="btn btn-primary"  href="{% url 'login' %}">sign in</a>
      {% endif %}

    </div>
  </div>

</div>
{% endblock %}
