{% extends 'base.html' %}

{% block js %}
<script type="text/javascript">
  // Create a store
  const store = new JSData.DataStore();

  // Create an adapter
  const httpAdapter = new JSDataHttp.HttpAdapter({
    // Instead of using relative urls, force absolute
    // urls using this basePath
    basePath: 'http://localhost:8000/tickets/api/'
  });

  store.registerAdapter('http', httpAdapter, { 'default': true });

  store.defineMapper('ticket', {
  	endpoint: 'tickets/'
  });


  var app = angular.module('app', []);

  function AppController($scope){
    $scope.tickets = [];

    this.$onInit = function() {
      store.findAll('ticket').then(function(data){
        $scope.tickets = data;
        $scope.$apply();
      });
    };
  };

  app.controller('AppController', AppController, {tickets:'='});

</script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 mt-4">

        <h1 class="text-center">
          Ticket list
        </h1>

        <div class="text-right mb-4">
          {% if perms.tickets.add_ticket %}
          <a class="btn btn-primary" href="{% url 'tickets_create' %}">
            new ticket
          </a>
          {% else %}
          <a class="btn btn-primary disabled">
            new ticket
          </a>
          {% endif %}
        </div>

        <div ng-app="app" ng-controller="AppController">
          <div class="ticket-list">

            {% verbatim %}
            <div class="card bg-light mb-4" ng-repeat="ticket in tickets">
              <div class="card-header">{{ ticket.code }}</div>
              <div class="card-body">
                <h5 class="card-title">{{ ticket.title }}</h5>
                <p class="card-text">
                  <ul>
                    <li>
                      {{ ticket.description }}
                    </li>
                    <li>
                      {{ ticket.current_status }}
                    </li>
                    <li>
                      {{ ticket.created_at }}
                    </li>
                    <li>
                      {{ ticket.updated_at }}
                    </li>
                  </ul>
                </p>
              </div>
            </div>
            {% endverbatim %}

          </div>
        </div>

      </div>
    </div>

  </div>

{% endblock %}
