{% extends 'base.html' %}

{% block js %}
<script type="text/javascript">
  // Create a store
  const store = new JSData.DataStore();

  // Create an adapter
  const httpAdapter = new JSDataHttp.HttpAdapter({
    // Instead of using relative urls, force absolute
    // urls using this basePath
    basePath: 'http://localhost:8000/tickets/api/'
  });

  store.registerAdapter('http', httpAdapter, { 'default': true });

  store.defineMapper('ticket', {
  	endpoint: 'tickets/'
  });


  var app = angular.module('app', []);

  function AppController($scope){
    $scope.tickets = [];
    $scope.filters = {
      'code': '',
      'title': '',
      'description': '',
      'current_status': '',
      'created_at': ''
    };

    $scope.updateTickets = function() {

      store.findAll('ticket', $scope.filters, {'force': true}).then(function(data){

        for(var i=0; i<data.length; i++){
          data[i].created_at = moment(data[i].created_at).fromNow();
        }

        $scope.tickets = data;
        $scope.$apply();
      });
    };

    this.$onInit = function() {
      $scope.updateTickets();
    };
  };

  app.controller('AppController', AppController);

</script>
{% endblock %}

{% block content %}
  <div class="container" ng-app="app" ng-controller="AppController">
    <div class="row">
      <div class="col-md-4 mt-4">
        {% verbatim %}
        <div class="form-group">

          <!-- code -->
          <label for="input_code">
            code
          </label>
          <input type="text" class="form-control" id="input_code" placeholder="Enter code" ng-model="filters.code">

          <!-- title -->
          <label for="input_title">
            title
          </label>
          <input type="text" class="form-control" id="input_title" placeholder="Enter title" ng-model="filters.title">

          <!-- description -->
          <label for="input_description">
            description
          </label>
          <input type="text" class="form-control" id="input_description" placeholder="Enter description" ng-model="filters.description">

          <!-- current_status -->
          <label for="input_current_status">
            current_status
          </label>

          <input type="text" class="form-control" id="input_current_status" placeholder="Enter current_status" ng-model="filters.current_status">

          <!-- created_at -->
          <label for="input_created_at">
            created_at
          </label>
          <input type="text" class="form-control" id="input_created_at" placeholder="Enter created_at" ng-model="filters.created_at">

        </div>

        <button class="btn btn-secondary" ng-click="updateTickets()">
          Filter
        </button>

        {% endverbatim %}
      </div>

      <div class="col-md-4 mt-4">

        <h1 class="text-center">
          Ticket list
        </h1>

        <div class="text-right mb-4">
          {% if perms.tickets.add_ticket %}
          <a class="btn btn-primary" href="{% url 'tickets_create' %}">
            new ticket
          </a>
          {% else %}
          <a class="btn btn-primary disabled">
            new ticket
          </a>
          {% endif %}
        </div>

        <div>
          <div class="ticket-list">

            {% verbatim %}
            <div class="card bg-light mb-4" ng-repeat="ticket in tickets">
              <div class="card-header">{{ ticket.code }}</div>

              <div class="card-body">
                <h5 class="card-title">{{ ticket.title }}</h5>
                <p class="card-text">
                  <ul>
                    <li>
                      {{ ticket.description }}
                    </li>
                    <li>
                      {{ ticket.current_status }}
                    </li>
                  </ul>
                </p>
              </div>

              <div class="card-footer text-right">
                {{ ticket.created_at }}
              </div>
            </div>
            {% endverbatim %}

          </div>
        </div>

      </div>
    </div>

  </div>

{% endblock %}
